<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pdf</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
  <a class="logout" href="http://localhost:5000/logout">Wyloguj</a>
  {% if files %}
    <p>Lista plików:</p>
  {% endif %}
  <ul>
      {% for file in files %}
          <li><a href="http://localhost:5000/getPdf?name={{ file }}">{{ file }}</a></li>
      {% endfor %}
  </ul>

  <form id="pdfForm" action="http://localhost:5000/addPdf" method="POST" enctype="multipart/form-data">
    <h1>Zarządzanie plikami pdf</h1>
    <fieldset>     
      <label class="" for="image">Dodaj plik</label>
      <input type="file" name="pdf" >
    </fieldset>
    <button type="submit" id="submitButton">Dodaj plik</button>
</form>
</body>
</html>